{{ partial "header" . }}

<div class="container clearfix">
    <main role="main" class="content">
        <article class="post">
            <a class="btn home" href="{{ .Site.BaseURL }}" title="{{ .Site.Data.l10n.article.back_to_home }}">&laquo; {{ .Site.Data.l10n.article.back_to_home }}</a>
            {{ partial "article-header" . }}
            {{ .Content}}
            {{ partial "article-share" . }}
        </article>
        <script src="https://utteranc.es/client.js"
            repo="yourssu-dev/blog_comment"
            issue-term="title"
            theme="github-light"
            crossorigin="anonymous"
            async>
        </script>
    </main>
    {{ partial "author" . }}
</div>

{{ partial "footer" . }}
